body {
    padding-top: 5rem;
}

h1{
    font-size: 35px;
}

p{
    font-size: 14px;
}

button{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(6, 86, 206);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(6, 86, 206);
 }


